@{
    ViewBag.Title = "iDez";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>iDez > @RenderSection("title",false)</title>
        <link href="@Url.Content("~/Content/dist/css/bootstrap.css")" rel="stylesheet" />
        <link rel="shortcut icon" href="@Url.Content("~/Content/assets/ico/favicon.png")" />

        <!-- Custom styles for this template -->
        <link href="@Url.Content("~/Content/starter-template.css")" rel="stylesheet" />
    </head>
    <body>
        @RenderSection("menu")
        <div class="container">

        <div class="starter-template">
            <p class="lead">@RenderBody()</p>
            </div>
        </div>

        <script src="@Url.Content("~/Content/assets/js/jquery.js")"></script>
        <script src="@Url.Content("~/Content/dist/js/bootstrap.min.js")"></script>
    </body>
</html>
